.shops-page {
  margin: 60px 0 100px 0;
}

.shops-page h2 {
  margin-left: 24px;
}

.shops-filters {
  display: flex;
  gap: 20px;
  padding: 24px;
  border-top: var(--border-neutral-muted);
  border-bottom: var(--border-neutral-muted);
  margin-top: 48px;
}