.link {
  font-size: 16px;
  line-height: 140%;
}

.link.primary {
  color: var(--color-primary);
}

.link.secondary {
  color: var(--color-secondary);
}

.link.surface-default {
  color: var(--color-surface-default)
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.link.accent {
  color: var(--color-accent);
}

.link:hover {
  opacity: .8;
}