.header-bottom{
  width: 100%;
  left: 0;
  border-top: var(--border-neutral-muted);
  border-bottom: var(--border-neutral-muted);
  display: flex;
  align-items: center;
}

.header-bottom__phone {
  margin-left: auto;
  margin-right: 24px;
}