.input {
  border: 1px solid var(--color-neutral-muted);
  font-size: 16px;
  line-height: 120%;
  padding: 16px;
}

.input.errored {
  border-color: var(--color-danger);
}

.input:focus {
  border-color: var(--color-primary-active);
}