.contacts-page {
  display: flex;
}

.contacts-page__left {
  width: 100%;
  max-width: 50%;
  padding: 0 16px;
}

.contacts-page__heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  margin-top: 64px;
}

.contacts-page__right {
  width: 100%;
  max-width: 50%;
  background-color: var(--color-surface-default);
  padding-left: 60px;
  border-left: var(--border-neutral-muted)
}

.contacts-page__heading.right {
  text-align: start;
}