.select {
  display: inline-block;
  position: relative;
  border-right: none;
}

.select.have-borders {
  border-left: var(--border-neutral-muted);
  border-right: var(--border-neutral-muted);
}

.select-list {
  position: absolute;
  width: calc(100% + 2px);
  border: var(--border-neutral-muted);
  border-top: none;
  left: -1px;
  z-index: 1000;
}

.select-header {
  padding: 20px 24px;
  display: flex;
  align-items: center;
}

.select-list__link {
  display: block;
  padding: 20px 24px;
  border-top: var(--border-neutral-muted);
  line-height: 120%;
  background-color: var(--color-surface-default);
}

.select-list__link:hover {
  background-color: var(--color-neutral-muted);
}

.select:hover {
  cursor: pointer;
}

.select-header__icon {
  margin-right: 12px;
}

.select-header__text {
  text-transform: uppercase;
}

.select-header__arrow {
  margin-left: 72px;
  transition: all var(--transition-fast);
}

.select-header__arrow.active {
  transform: rotate(180deg);
}

.select-header__text::selection,
.select-header__icon::selection,
.select-header__arrow::selection {
  background-color: transparent;
}