.cart-item-row-image {
  padding-left: 24px !important;
}

.cart-item-row-amount {
  text-align: right;
  padding-right: 24px !important;
}

.cart-item-row td {
  padding: 24px 0;
  border-top: var(--border-neutral-muted-bold);
  border-bottom: var(--border-neutral-muted-bold);
  vertical-align: top;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
}

.cart-item-row-image img {
  min-width: 198px;
  min-height: 198px;
  border: var(--border-neutral-muted);
}

.cart-item-row-amount__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  min-height: 199px;
}

.cart-item-row-amount__remove-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-secondary);
}

.cart-item-row-amount__remove-btn:hover {
  opacity: .8;
}

.quantity-controls {
  background-color: var(--color-neutral-muted);
  width: fit-content;
  margin-top: -12px;
}

.quantity-button {
  padding: 18px 17px;
  transition: opacity var(--transition-fast);
}

.quantity-button:hover {
  opacity: .6;
}

.quantity-value {
  width: 34px;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}